@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy.otf');
}
* {
    color: rgb(0,136,204) !important;
    font-size: 17px;
    font-family: Gilroy, sans-serif;
}
p, li {
    color: #77909C !important;
}

/* HEADER */

header {
    line-height: 1em;
}
section {
    display: block;
}
.container {
    padding: 0 !important;
    padding-top: 1% !important;
    min-width: 70% !important;
    margin-left:200px;
}
.nav-menu {
    padding: 2% 0 0 0;
}
ul {
    float: right;
}
li {
    list-style-type: none;
    line-height: 4em;
    margin-bottom: 2em;
}
a {
    text-decoration: none !important;
}
/*NAV-ANIMATE*/
.menu {
    position: fixed;
    right: 5%;
    top: 30%;
    z-index: 9999;
}
.animate-menu {
    width:137px;
    position: relative;
    float: right;
}
.animate-menu li {
    line-height: 0.5em !important;
    margin-bottom: 0;
}
.animate-menu span {
    font-size: 18px !important;
}
.animate-menu .line{
    width: 2px;
    height: 0;
    background: #0273d4;
    float:right;
    margin-right: 1px;
    margin-top: 5px;
}
.animate-menu ul{
    position: absolute;
    margin: 0;
}
.animate-menu li{
    width:100px;
    height: 50px;
    opacity: 0;
}
.li-50{
    opacity: 1;
}
.dli-50 {
    opacity: 1;
}
.animate-menu li span{
    display:inline-block;
    width:50px;
}
.animate-menu li .round{
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid #0273d4;
    border-radius: 10px;
    margin-bottom: 0;
    float:right;
    background: white;
}
.animate-menu li .round:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #0273d4;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    opacity: 0;
}
.round {
    background: url('../uploads/ic_svg_bus.svg') no-repeat center center;
}
.bus {
    display: inline;
    position: absolute;
    left: 125px;
    top: -6px;
}
/*END-NAV-ANIMATE and HEADER*/

/* MAIN */
#home {
    position: relative;
    padding-top: 5% !important;
    z-index: 2;
}
#contact {
    padding-top: 5% !important;
}
#planet {
    position: absolute;
    top: 0;
    z-index: -1;
}
#planet canvas{
    background-color: transparent;
}
/*ANIMATE-DEVICE*/
.options {
    display: inline-block;
    width:60%;
    margin-top: 7%;
}
.stop {
    top:91.6416px !important;
}
.animate-device {
    width: 400px;
    position: relative;
}
.animate-device li {
    line-height: 0.5em !important;
    margin-bottom: 0;
}
.animate-device span {
    font-size: 18px !important;
}
.animate-device .dLine{
    position: absolute;
    left: 11%;
    width: 2px;
    height: 0;
    background: #0273d4;
    margin-right: 1px;
    margin-top: 5px;
}
.animate-device ul{
    position: absolute;
    margin: 0;
}
.animate-device li{
    width:300px;
    height: 40px;
    opacity: 0;
    /* background: gray; */
}
.animate-device li span{
    display:inline-block;
    /* margin-top: 5px; */
    width:50px;
}
.animate-device li .round{
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid #0273d4;
    border-radius: 10px;
    margin-bottom: 0;
    float:left;
    background: white;
    margin-right: 50px;
}
.animate-device li .round:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #0273d4;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    opacity: 0;
}
/*END ANIMATE-DEVICE*/

/*BENEITS ANIME*/
.stop {
    top:91.6416px !important;
}
.busLoopDesc {
    width: 370px;
    padding-top: 75px;
    position: relative;
}
.busLoopDesc li {
    line-height: 0.5em !important;
    margin-bottom: 0;
}
.busLoopDesc span {
    font-size: 18px !important;
}
.busLoopDesc .bLine{
    position: absolute;
    left: 12%;
    width: 2px;
    height: 0;
    background: #0273d4;
    margin-right: 1px;
    margin-top: 5px;
}
.busLoopDesc ul{
    position: absolute;
    margin: 0;
}
.busLoopDesc li{
    width:300px;
    height: 40px;
    opacity: 0;
    /* background: gray; */
}
.busLoopDesc li span{
    display:inline-block;
    /* margin-top: 5px; */
    width:50px;
}
.busLoopDesc li .round{
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid #0273d4;
    border-radius: 10px;
    margin-bottom: 0;
    float:left;
    background: white;
    margin-right: 50px;
}
.busLoopDesc li .round:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #0273d4;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    opacity: 0;
}
/*END BENEITS ANIME*/

/*GLOBUS*/
#home {
    position: relative;
}
#home h1{
    font-size: 3em;
}
#rotatingGlobe {
    position: absolute;
    top: calc((100% - 550px)/2);
    left: 35%;
    border-top-left-radius: 86%%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: -1;
}
.smart {
    margin: 15% 0 0 0;
    width: 662px;
}
span {
    font-size: 25px;
}
.description {
    width: 80%;
}
.device {
    display: block;
    position: relative;
}
.deviceImg {
    background: url("../uploads/inobi_device.jpg") no-repeat center center;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 350px;
}
.deviceImg span {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*border:1px solid blue;*/
}
.deviceImg span:nth-child(1) {
    top: 19%;
    right: 50%;
}
.deviceImg span:nth-child(2) {
    top: 34%;
    left: 24%;
}
.deviceImg span:nth-child(3) {
    top: 15%;
    left: 48%;
}
.deviceImg span:nth-child(4) {
    top: 14%;
    right: 16%;
}
.deviceImg span:nth-child(5) {
    top: 46%;
    right: 23%;
}
.deviceImg span:nth-child(6) {
    top: 17%;
    right: 28%;
}
#deviceDescrip {
    color: #77909C !important;
    font-weight: 600 !important;
    transition: 0.9s;
    opacity: 0;
}
.faa-burst {
    border: 1px solid blue;
}
/*BUS LOOP ANIMATION*/
#busLoopDiv {
    width: 100% !important;
}
 #busLoopAnim {
    display: block;
    width: 40% !important;
 }
 .busLoop {
    width: 80%;
    /*margin-left: -127px;*/
 }
 .mobAppDesc ul {
    padding: 0 !important;
  }
.mobAppDesc ul li {
    line-height: 1rem !important;
 }
 .appList {
    display: inline-block;
    float: right;
    width: 300px;
    line-height: 1.3em !important;
 }
 .mt-6 {
    margin-top: .6rem;
 }
/*END BUS LOOP ANIMATION*/
/*MOB APP*/
.mobApp {
    width: 80%;
    margin-bottom: 5%;
}
    #mobApp {
        position: relative;
        text-align: center;
        width:500px;
        margin-top: 50px;
        margin-left: auto;
    }
    #mobApp img {
        position: relative;
        width: 55%;
    }
    .mobAppDesc{
        float: left;
        padding-top: 15%;
    }
    .mobAppDesc ul li span {
        font-size: 17px !important;
    }
    .mobAppContainer{
        position: absolute;
        height: 297px;
        width: 173px;
        top: 61px;
        left: 150px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #ffffff;
    }
    .mobAppContainer svg {
        position: absolute;
        width: 100%;
        height: 100%;
        fill:#18a92d;
    }
    .mobAppContainer .lines {
        opacity: 0;
    }
    .mobAppContainer .line {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #18a92d;
    }
    .mobAppContainer .lights {
      opacity: 1;

    }
    .mobAppContainer .light {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: #18a92d;
    }
    .btn-store {
        display: inline-block;
        position: relative;
        width: 9.375em;
        min-height: 2.4375em;
        border: 2px solid currentColor;
        border-radius: 60px;
        font-size: 1.125rem;
        color: #248ECE;
        text-decoration: none;
        background: white;
        box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.2s ease;
    }
    .btn-store--google:before {
        background-size: 1.875em;
        background-image: url(../uploads/btnsImg/play-store.png);
        background-position: 60% 50%;
        background-size: 70% !important;
    }
    .btn-store--apple:before {
        background-image: url(../uploads/btnsImg/apple-store.png);
        background-size: 70% !important;
        background-position: 50% 45%;
    }
    .btn-store:before {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        width: 2.4em;
        height: 2.4em;
        border-radius: 50%;
        background-color: currentColor;
        background-repeat: no-repeat;
        background-size: 2.1875em;
    }
    .btn-store__description, .btn-store__title {
        line-height: 1 !important;
    }
    .btn-store__title {
        font-weight: 900;
        color: #333 !important;
        margin: 0 !important;
    }
    .btn-store__description {
        font-size: 0.7em !important;
        font-weight: bold !important;
        margin: 0 !important;
    }
    .btn-store__text {
        position: absolute;
        left: 73%;
        top: 50%;
        width: 100%;
        transform: translate(-45%, -50%);
        -webkit-transform: translate(-45%, -50%);
    }
/*END MOB APP*/

body::-webkit-scrollbar { width: 0 !important }
body::-moz-viewport-scroll {width: 0 !important}
/*body { -ms-overflow-style: none; }
body { overflow: -moz-scrollbars-none; }*/
#benefit {
    margin-bottom: 150px;
}
.in-touch {
    width: 50vw;
    margin: 0 147px;
}
.in-touch h1 {
    padding-top: 8vh;
}
.custom-select-sm {
    color: #77909C !important;
    font-size: 15px!important;
}
.select {
    width: 20vw;
    padding-top: 5vh;
    display: inline-block!important;
}
.transparent {
    border-left: transparent!important;
    border-right: transparent!important;
    border-top: transparent !important;
}
.input {
    width: 20vw;
    padding-top: 5vh;
    float: right;
}
.float-l {
    float: left !important;
}
.float-r {
    float: right !important;
}
.form-group {
    margin-top: 17vh;
}
#exampleFormControlTextarea1 {
    height: 15vh;
}
.limegreen input::placeholder {
    color: limegreen !important;
    opacity: 0.8;
}
.input input::placeholder {
    opacity: 0.8;
<<<<<<< HEAD
}
.form-group textarea::placeholder {
    opacity: 0.8;
}
.btn-primary {
    background-color: #0273d4!important;
    border-radius: 15px!important;
    padding: 12px!important;
    margin-top: 5px!important;
    width: 5.5rem!important;
    line-height: 1.5!important;
    box-shadow: 0 34px 50px -6px grey;
}
=======
}
.form-group textarea::placeholder {
    opacity: 0.8;
}
.btn-primary {
    background-color: #0273d4!important;
    border-radius: 15px!important;
    padding: 12px!important;
    margin-top: 5px!important;
    width: 5.5rem!important;
    line-height: 1.5!important;
    box-shadow: 0 34px 50px -6px grey;
}
button.contact-btn:hover {
    background-color: #fafafa !important;
    border-color: #fafcfc !important;
    color: #0273d4 !important;
    box-shadow: 0 34px 50px -6px #77909C !important;
}
.btn {
    box-shadow: 0 34px 50px -6px #77909C !important;
}
.in-touch p {
        float: left !importantl
    }

/*END MAIN*/

/* FOOTER*/

/*MEDIA*/
@media screen and (max-width: 369px) {
     html,body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    .smart, .description {
        width: 100% !important;
    }
    #rotatingGlobe {
        width: 80% !important;
        height: auto !important;
    }
    #rotatingGlobe {
        top: 43%;
        left: 11%;
        z-index: -1;
    }
    .description {
        text-align: justify !important;
    }
    .description h2{
        text-align: left !important;
    }
    section.container {
        min-height: 546px !important;
        margin:0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .nav-menu,.smart {
        text-align: center;
    }
    .animate-device {
        height: 250px;
    }
    .busLoopDesc {
        display: none !important;
    }
    .options {
        margin-top:0 !important;
    }
    .animate-menu {
        display: none !important;
    }
    #contact {
        min-height: 70% !important;
    }
    .mobAppDesc .appList {
        width: 208px !important;
    }
    * {
        font-size: 14px !important;
    }
    h1,h2 {
        font-size: 25px !important;
        margin-top: 10px !important;
    }
    .container {
        margin-bottom: 1em !important;
    }
    #benefit #mobApp {
        width: 260px !important;
    }
    #mobApp .mobAppContainer {
        left: 44.4px !important;
        width: 148px !important;
        height: 245px !important;
    }
    .btn-store__title {
        font-size: 11px !important;
    } 
    .btn-store__text {
        left: 70%;
    }
    #mobApp img {
        width: 80% !important;
    }
    .mobApp {
        margin-top: 50px !important;
        width: 100% !important;
    }
    .in-touch {
        width: 100% !important;
        margin: 0 !important;
    }
    .smart, .description {
        width: 100% !important;
    }
}
/*IPHONE X*/
@media (min-width: 370px) and (max-width:375px) {
   html,body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    .nav-menu,.smart {
        text-align: center;
    }
    .smart, .description {
        width: 100% !important;
    }
     .description {
        text-align: justify !important;
    }
    section.container {
        min-height: 546px !important;
        margin:0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .animate-menu {
        display: none !important;
    }
    .animate-device, .busLoopDesc {
        height: 250px;
    }
    .busLoopDesc {
        padding-top: 50px !important;
    }
      h1,h2 {
        font-size: 25px !important;
        margin-top: 10px !important;
        text-align: center !important;
    }
    #home {
        padding-top: 15% !important;
    }
    html,body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    .smart, .description {
        width: 100% !important;
    }
    #contact {
        min-height: 70% !important;
    }
    #rotatingGlobe {
        top: 43%;
        left: 11%;
        z-index: -1;
    }
    canvas#rotatingGlobe {
        width: 80% !important;
        height: auto !important;
    }
    .appList {
        width: 280px !important;
    }
    .options {
        margin-top:0 !important;
    }
    .mobApp {
        margin-top: 50px !important;
        width: 100% !important;
    }
    .mob-w {
        flex-basis: auto !important;
    }
    #mobApp {
        width: 100% !important;
    }
    #mobApp img{
        width: 75% !important;
    }
    .btn-store {
        font-size: 15px !important;
        width: 11em !important;
    }
    .btn-store__text {
        left: 68% !important;
    }
    .in-touch p {
        float: left !importantl
    }
     .in-touch {
        width: 100% !important;
        margin: 0 !important;
    }
    .mobAppDesc ul li{
        margin-bottom: 10px !important: 
    }
    .mobAppDesc {
        width: 98% !important;
        padding-top: 0 !important;
    }
    li .appList {
        width: 260px !important;
    }
}
/*END IPHONE X

/*MOBILE DEVICES*/
@media (min-width: 376px) and (max-width: 600px) {
    html,body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    #wrapper {
        padding: 10px !important;
    }
    .mobApp {
        margin-top: 50px !important;
    }
    .container {
        margin:0 auto!important;
        text-align: center !important;
    }
    #home p {
        text-align: center !important;
    }
    p {
        text-align: justify !important;
    }
    li {
        text-align: left !important;
    }
    #busLoopDiv {
        display: none !important;
    }

    /*FIRST SCREEN*/
    #home {
        padding-top: 20px !important;
    }
    #home h1 {
        font-size: 2em !important;
    }
    #rotatingGlobe {
        top: 43%;
        left: 11%;
        z-index: -1;
    }
    #rotatingGlobe {
    width: 80% !important;
    height: auto !important;
    border-radius: 0;
    }
    .smart {
        width: 100%;
        height: 81vh;
        padding: 0;
        margin: 20px 0 0 0;
        text-align: center;
    }
    canvas {
        width: 350px !important;
        height: auto !important;
    }
    .animate-menu {
        display: none !important;
    }
    
    
    h1 {
        font-size: 1.9rem;
    }
    /*END FIRST SCREEN*/
    
    /*SOLUTION SCREEN*/
    .mob-w {
        flex-basis: auto !important;
    }
    #solution {
        height: 50em !important;
    }
    #solution ul {
        padding: 0 !important;
    }
    .animate-device {
        width: 340px !important;
    }
    .animate-device .dLine {
        left: 1% !important;
    }
    .animate-device li {
        width: 215px;
    }
    .options {
        margin-top: 0;
    }
    .description{
        width: 100% !important;
    }
    .deviceImg {
        height: 290px;
    }
    #deviceDescrip {
        font-size: 17px !important;
        margin: 0 auto !important;
    }
    /*END SOLUTION SCREEN*/

    /*THIRD BENEFIT*/
    #benefit {
        margin-bottom: 0 !important;
        margin-top: 30px !important;
    }
    .busLoop {
        width: 100%;
    }
    .busLoopDesc {
        display: none !important;
    }
    .mobApp {
        width: 100%;
    }
    #mobApp {
        width: 350px !important;
        margin-left: 6%;
    }
    .appList {
        width: 280px !important;
    }
    .btn-store {
        width: 8.375em !important;
    }
    .btn-store__description {
        font-size: 0.5em !important;
    }
    #mobApp img {
        width: 90%;
    }
    .mobAppContainer {
        left: 60.4px;
        width: 198px;
        height: 331px;
    }
    .mobAppDesc,.mobAppDesc ul {
        width: 94%;
    }
   .mobAppDesc ul li{
        margin-bottom: 10px !important; 
    }
    /*END BENEFIT SCREEN*/

    /*CONTACT SECTION*/
    #contact.container{
        width: 100% !important;
    }
    .in-touch {
        width: 100% !important;
        margin: 0 !important;
        padding-left: 10px !important;
    }
    .in-touch h1 {
        padding-top: 0 !important;
    }
    .in-touch p {
        text-align: left !important;
    }
    .in-touch p.mm{
        text-align: left !important;
        margin-bottom: 10px !important;
    }
    /*END CONTACT SECTION*/
}
/*END MOBILE DEVICES*/

/*iPAD*/
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        margin: 30px !important;
    }
     html,body {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    h1,h2 {
        text-align: center !important;
    }
    #wrapper {
        padding: 10px !important;
    }
    .mobApp {
        margin-top: 50px !important;
    }
    .container {
        margin:0 auto!important;
        text-align: center !important;
    }
    section.container {
        height: 100vh !important;
        max-height: 970px !important;
    }
    .animate-menu {
        display: none !important;
    }

    /*HOME SECTION*/
    #rotatingGlobe {
        width: 80% !important;
        height: auto !important;
        top: 40% !important;
        left: 10% !important;
        border-radius: 0 !important;
    }
    .smart {
        width: 100% !important;
    }
    /*END HOME SECTION*/
    #solution h1, #benefit h1 {
        text-align: center;
    }
    #home h1 {
        font-size: 2em !important;
    }

    /*SOLUTION SECTION*/
    .deviceImg {
        width: 100%!important;
    }
    .mob-w {
        flex-basis: auto !important;
    }
    .description {
        width: 100% !important;
        text-align: justify;
    }
    .options {
        margin-top: 0 !important;
    }
    .animate-device ul{
        margin-left: 100px !important;
    }
    .animate-device .dLine {
        left: 36% !important;
    }
    /*END SOLUTION SECTION*/
    /*BENEFIT DECTION*/
    #benefit {
        height: 200vh !important;
        min-height: 2000px !important;
    }
    #contact {
        max-height: 500px !important;
        min-height: 500px !important;
    }
    .busLoop {
        width: 100% !important;
    }
    .busLoopDesc,.mobAppDesc {
        float: none !important; 
        padding-top: 0 !important;
        height: 270px !important;
        padding-left: 25% !important;
    }
    .btns {
        margin-left: 25%;
    }
    .busLoopDesc ul,.mobAppDesc ul{
        width: 100%;
        text-align: left;
    }
    .busLoopDesc .bLine {
        left: 60.5% !important;
    }
    .mobApp {
        width: 100% !important;
        text-align: justify !important;
    }
    #mobApp {
        margin-left: 50px;
    }
    #mobApp img {
        width: 75%;
        margin-left: 100px !important;
    }
    .mobAppContainer {
        left: 60.4px;
        width: 198px;
        height: 331px;
    }
    .mobAppDesc,.mobAppDesc ul {
        width: 94%;
    }
   .mobAppDesc ul li{
        margin-bottom: 10px !important; 
    }
    .appList {
        float: none !important;
    }
    /*END BENEFIT SECTION*/

    /*CONTECT SECTION*/
    .in-touch {
        width: 100% !important;
        margin: 20% 0 !important;
        text-align: center !important;
    }
    /*END CONTACT SETION*/

}
/*END iPAD*/

/*IPAD PRO*/
@media (min-width: 901px) and (max-width: 1024px) {
    .container {
        width: 80% !important;
        margin-left: 100px !important;
    }
    /*HOME SCREEN*/
    h1 {
        font-size: 2em !important;
    }
   #rotatingGlobe {
        width: 80% !important;
        height: auto !important;
        top: 40% !important;
        left: 10% !important;
        border-radius: 0 !important;
    }

    /*END HOME SCREEN*/
    /*SOLUTION SECTION*/
        .description {
            margin-top: 100px;
        }
    /*END SOLUTION SECTION*/
    /*BENEFIT DECTION*/
    .busLoopDesc {
        float: none !important; 
        padding-top: 0 !important;
        height: 380px !important;
    }
    .busLoopDesc ul,.mobAppDesc ul{
        width: 100%;
        text-align: center;
    }
    .busLoopDesc,.mobAppDesc {
        float: none !important; 
        padding-top: 0 !important;
        height: 270px !important;
        padding-left: 25% !important;
    }
    #benefit .busLoopDesc .bLine {
        left: 56.3% !important;
    }
    .btns {
        margin-left: 25%;
    }
    .busLoopDesc ul,.mobAppDesc ul{
        width: 100%;
        text-align: left;
    }
    .busLoopDesc .bLine {
        left: 50.8% !important;
    }
    #mobApp {
        margin-left: 50px;
    }
    .appList {
        float: none !important;
    }
    #solution {
        padding-top: 20% !important; 
    }
    /*END BENEFIT SECTION*/
   /*CONTECT SECTION*/
        .in-touch {
            width: 80% !important;
            margin: 20% 0 !important;
            text-align: center !important;
        }
    /*END CONTACT SETION*/
}
/*END IPAD PRO*/

@media (min-width: 1025px) and (max-width: 1366px) {

}

/*Desktop*/
@media (min-width: 1367px) and (max-width: 1440px) {
    #rotatingGlobe {
        top: 32% !important;
        left: 0 !important;
    }
    #solution, #contact {
        padding-top: 20% !important;
    }
}
@media all and (min-width: 1901px) {
    .container {
        min-width: 90% !important;
        margin: 0 auto !important;
        padding-top: 5% !important;
    }
    #wrapper {
        min-width: 1000px !important;
        margin:0 auto;
    }
    * {
        font-size: 28px;
    }
    .animate-menu {
        width:400px !important;
    }
    .animate-menu ul {
        width: 70%;
    }
    .animate-menu ul li {
        width: 100%;
        height: 80px !important;
    }
    .animate-menu ul li a span {
        font-size: 35px !important;
    }
    .animate-menu ul li a .round {
        font-size: 35px !important;
        width: 20px;
        height: 20px;
    }
    .animate-menu .line {
        width: 5px !important;
        margin-right: 127px;
    }
    .bus {
        left: 250px !important;
    }
    .bus img{
        width: 40px !important;
        height: 45px !important;
    }
    .smart {
        width: 90% !important;
    }
    #rotationGlobe {
        border-radius: none !important;
    }
    .description {
        width: 70% !important;
    }
    .deviceImg {
        height: 600px !important;
    }
    .animate-device li, .busLoopDesc li {
        width: 500px !important;
        height: 80px !important;
        font-size: 30px !important;
    }
    .animate-device .round, .busLoopDesc .round{
        width: 20px !important;
        height: 20px !important;
    }
    .animate-device .dLine, .busLoopDesc .bLine {
        left: 47px !important;
        width: 5px !important;
    }
    .mobApp p {
        margin-bottom: 0 !important;
    }
    #mobApp {
        width: 900px !important;
       /* margin-top: 0 !important;*/
    }
    .mobAppDesc {
        padding-top: 5% !important;
    }
    .mobAppDesc img {
        width: 90px !important;
        height: 90px !important;
    }
    .mobAppDesc ul {
        margin-bottom: 0 !important;
    }
    .mobAppContainer {
        height: 533px !important;
        width: 312px !important;
        top: 111px !important;
        left: 268px !important;
    }
    .appList {
        width: 600px !important;
    }
    #benefit {
        height: 160vh !important;
    }
    .in-touch {
        margin: 10% auto 0;
        text-align: center;
    }
    .btn-store {
        margin:0 2rem !important;
    }
}
/*end desktop*/