@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy.otf');
}
* {
    color: #0273d4;
    font-size: 17px;
    font-family: Gilroy, sans-serif;
}
p, li {
    color: #77909C;
}

/* HEADER */

header {
    line-height: 1em;
}
section {
    display: block;
    height: 100vh;
}
.container {
    padding: 0 !important;
    min-width: 90% !important;
    margin: 0 auto;
}
.nav-menu {
    padding: 2% 0 0 0;
}
ul {
    float: right;
}
li {
    list-style-type: none;
    line-height: 4em;
    margin-bottom: 2em;
}
a {
    text-decoration: none !important;
}
/*NAV-ANIMATE*/
.menu {
    position: fixed;
    right: 3%;
    top: 5%;
    z-index: 9999;
}
.animate-menu {
    width:137px;
    position: relative;
    float: right;
}
.animate-menu li {
    line-height: 0.5em !important;
    margin-bottom: 0;
}
.animate-menu span {
    font-size: 18px !important;
}
.animate-menu .line{
    width: 2px;
    height: 0;
    background: #0273d4;
    float:right;
    margin-right: 1px;
    margin-top: 5px;
}
.animate-menu ul{
    position: absolute;
    margin: 0;
}
.animate-menu li{
    width:100px;
    height: 50px;
    opacity: 0;
}
.li-50{
    opacity: 1;
}
.dli-50 {
    opacity: 1;
}
.animate-menu li span{
    display:inline-block;
    width:50px;
}
.animate-menu li .round{
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid #0273d4;
    border-radius: 10px;
    margin-bottom: 0;
    float:right;
    background: white;
}
.animate-menu li .round:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #0273d4;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    opacity: 0;
}
.round {
    background: url('../uploads/ic_svg_bus.svg') no-repeat center center;
}
.bus {
    display: inline;
    position: absolute;
    left: 125px;
    top: -6px;
}
/*END-NAV-ANIMATE and HEADER*/

/* MAIN */
#home {
    position: relative;
}
/*ANIMATE-DEVICE*/
.options {
    display: inline-block;
    width:60%;
    margin-top: 7%;
}
.animate-device {
    width: 400px;
    position: relative;
}
.animate-device li {
    line-height: 0.5em !important;
    margin-bottom: 0;
}
.animate-device span {
    font-size: 18px !important;
}
.animate-device .dLine{
    position: absolute;
    left: 11%;
    width: 2px;
    height: 0;
    background: #0273d4;
    margin-right: 1px;
    margin-top: 5px;
}
.animate-device ul{
    position: absolute;
    margin: 0;
}
.animate-device li{
    width:300px;
    height: 50px;
    opacity: 0;
    /* background: gray; */
}
.animate-device li span{
    display:inline-block;
    /* margin-top: 5px; */
    width:50px;
}
.animate-device li .round{
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid #0273d4;
    border-radius: 10px;
    margin-bottom: 0;
    float:left;
    background: white;
    margin-right: 50px;
}
.animate-device li .round:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #0273d4;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    opacity: 0;
}
/*END ANIMATE-DEVICE*/

.smart {
    padding: 15% 0 0 14%;
}
.smart p {
    padding-left: 4.5%;
}
span {
    font-size: 25px;
}
.description {
    text-align: center;
    width: 80%;
}
.description p {
    padding: 2% 0;
}
.description h1 {
    padding-top: 2%;
}
.device {
    display: block;
    position: relative;
}
.device img {
    width: 90%;
    float: left;
    margin-top: 7%;
}
.deviceImg {
    background: url("../uploads/iot.jpg") no-repeat center center;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 400px;
}
.deviceImg span {
    position: absolute;
}
.deviceImg span:nth-child(1) {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /*border: 1px solid blue;*/
    top: 36%;
    right: 19%;
}
.faa-burst {
    border: 1px solid blue;
}
.work {
    text-align: center;
    height: 40%;
}
.work ol {
    float: left;
    width: 16%;
}
.work li {
    list-style-type: decimal;
    line-height: 3em;
}
.work h1 {
    padding: 10% 4% 5% 0;
}
.profit {
    padding: 2% 8% 1% 8%;
    text-align: center;
    display: inline-block;
}
.profit h1 {
    padding-right: 2%;
}
.profit li {
    line-height: 1.2em;
}
.profit ul {
     padding: 3% 3% 0 0
}
.operators {
    width: 49%;
    float: left;
    text-align: center;
    border-right: 1px solid #0273d4;
    padding-right: 3%;
}
  .operators  h3 {
      padding-top: 7%;
      color: limegreen;
}
  .operators img {
      width: 25%;
}
.passengers {
    width: 49%;
    float: left;
    text-align: center;
    margin-left: 2%;
}
.passengers h3 {
    padding-top: 2%;
    color: limegreen;
}
.passengers img {
    width: 25%;
    height: 8.2em;
}
body::-webkit-scrollbar { width: 0 !important }
body::-moz-viewport-scroll {width: 0 !important}
body { -ms-overflow-style: none; }
body { overflow: -moz-scrollbars-none; }
.in-touch {
    width: 45vw;
    margin: 0 auto;
}
.in-touch h1 {
    padding-top: 8vh;
}
.custom-select-sm {
    color: #77909C !important;
    font-size: 15px!important;
}
.select {
    width: 20vw;
    padding-top: 5vh;
    display: inline-block!important;
}
.transparent {
    border-left: transparent!important;
    border-right: transparent!important;
    border-top: transparent !important;
}
.input {
    width: 20vw;
    padding-top: 5vh;
    float: right;
}
.float-l {
    float: left !important;
}
.float-r {
    float: right !important;
}
.form-group {
    margin-top: 17vh;
}
#exampleFormControlTextarea1 {
    height: 15vh;
}
.limegreen input::placeholder {
    color: limegreen !important;
    opacity: 0.8;
}
.input input::placeholder {
    opacity: 0.8;
}
.form-group textarea::placeholder {
    opacity: 0.8;
}
.btn-primary {
    background-color: #0273d4!important;
    border-radius: 15px!important;
    padding: 12px!important;
    margin-top: 5px!important;
    width: 5.5rem!important;
    line-height: 1.5!important;
    box-shadow: 0 34px 50px -6px grey;
}
button:hover {
    background-color: #fafafa !important;
    border-color: #fafcfc !important;
    color: #0273d4 !important;
    box-shadow: 0 34px 50px -6px #77909C !important;
}
.btn {
    box-shadow: 0 34px 50px -6px #77909C !important;
}






/*END MAIN*/

/* FOOTER*/






